# BACKEND
backend/config.json
backend/CONFIG-FILES
backend/.env
backend/node_modules/
backend/controllers/token-generator-dev.ts
backend/dist/controllers/token-generator-dev.js
backend/dist/controllers/token-generator-dev.js.map
# Build
backend/dist/config.json
backend/dist/CONFIG-FILES
backend/dist/controllers
backend/dist/middleware
backend/dist/Regex
backend/dist/models
backend/dist/routes
backend/dist/bin
backend/dist/utils

# FRONTEND
frontend/node_modules/
frontend/src/config.json
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*