# BACKEND
backend/config.json
backend/CONFIG-FILES
backend/.env
backend/node_modules/

# Build
backend/dist/config.json
backend/dist/CONFIG-FILES

# FRONTEND
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
