
.calendarMois .fc-prev-button, 
.calendarMois .fc-next-button,
.calendarSemaine .fc-prev-button, 
.calendarSemaine .fc-next-button,
.calendarJour .fc-prev-button, 
.calendarJour .fc-next-button {
  background-color: #239489;
  border-color:#1C5E53; 
}

.calendarMois .fc-prev-button:hover, 
.calendarMois .fc-next-button:hover,
.calendarSemaine .fc-prev-button:hover, 
.calendarSemaine .fc-next-button:hover,
.calendarJour .fc-prev-button:hover, 
.calendarJour .fc-next-button:hover {
  background-color: #1C5E53;
  border-color:#1C5E53;
}

.calendarMois .fc-today-button,
.calendarSemaine .fc-today-button,
.calendarJour .fc-today-button {
  background-color: #239489;
  border-color:#1C5E53; 
}

.calendarMois .fc-today-button:hover,
.calendarSemaine .fc-today-button:hover,
.calendarJour .fc-today-button:hover
{
  background-color: #1C5E53;
  border-color:#1C5E53; 
}
.calendarMois .fc-today-button:disabled,
.calendarSemaine .fc-today-button:disabled,
.calendarJour .fc-today-button:disabled {
  background-color: gray;
  border-color: gray;
}

/*  */


.calendarSemaine .fc-col-header-cell-cushion,
.calendarMois .fc-col-header-cell-cushion,
.calendarJour .fc-col-header-cell-cushion {
  color: #1C5E53;
}
.calendarSemaine .fc-timegrid-slot-label-cushion,
.calendarJour .fc-timegrid-slot-label-cushion {
  color: #1C5E53;
}

.calendarSemaine .fc-toolbar-title,
.calendarMois .fc-toolbar-title,
.calendarJour .fc-toolbar-title  {
  color: #1C5E53;
}

.calendarMois .fc-daygrid-day-number {
  color: #1C5E53;
}

.fc .fc-timegrid-now-indicator-arrow {
  border-color: #B8E3E1;
}

.fc-direction-ltr .fc-timegrid-now-indicator-arrow {
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-width: 5px 0px 5px 6px;
  left: 0px;
}
.fc .fc-timegrid-now-indicator-line {
  border-color: #B8E3E1;
}

.fc-day-today{
  background-color: rgba(184, 227, 225, 0.3) !important;
}

.fc-col-header-cell {
  background-color: white !important;
}
