.Login{
    background-image: url('../assets/classroom.png');
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    list-style: none;
}
.loginContainer{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px #239489 solid;
    box-shadow:  2px 7px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 70px;
    padding-block: 50px;
}
.formContainer{
    color: #004d40;
    border-radius: 10px; 
    border: 1px rgba(0, 77, 64, 0.6) solid;
    background-color: #b2dfdb9a ;
    box-shadow:  2px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.emargisTitle{
    margin: 0 auto;
    margin-bottom: 30px;
    display: inline-flex;
    align-items: center;
}
.logoEmargis{
    height: 100px;
    width: 100px;
}
.textEmargis{
    color: #004d40;
    font-family: "Copykey";
    font-size: 3em;
    padding-left: 10px;
}
.loginInput{
    margin-bottom:10px;
}
.loginButton{
    margin-top:15px;
    margin-bottom: 15px;
}