.RegisterStudents{
    display: flex;
}

.RegisterStudentsDay {
    width: 30%;
    margin-right: 1%;
    margin-left: 2%;
}

.RegisterStudentsTable {
    width: 63%;
    margin-left: 1%;
    margin-right: 2%;
}

.btnEmargement {
    margin-bottom: 2em;
}

.titreEmargement, .soustitreEmargementDay, .titreNotEmargement {
    color: #006655;
}

.soustitreEmargementDay {
    margin-top: 5%;
}

.titreNotEmargement{
    margin: auto;
}

.notEmargementIcon{
    transform: scale(1.8);
}

.RegisterTable {
    height: 60vh;
    margin-bottom: 30px;
}

.RegisterCalendar{
    margin-top: 16%;
}