.ReproDashboard {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
  }
  
  .ReproDashboardAppel {
    flex: 1;
    width: 100%;
    height: 50%;
  }
  
  .ReproDashboardChiffre {
    flex: 1;
    background-color: grey;
    width: 100%;
    height: 50%;
    display: flex;
  }

  .ReproDashboardChiffre .ReproDashboardChiffreConsu {
    background-color: aliceblue;
    width: 50%;
    height: 100%;
  }

  .ReproDashboardChiffre .ReproDashboardChiffreAVenir {
    background-color: aquamarine;
    width: 50%;
    height: 100%;
  }
  