@font-face {
  font-family: "Copykey";
  src: local("Copykey"),
   url("./fonts/Copykey.ttf") format("truetype");
 }

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: 'Montserrat';
}

html, body, .App, .App>div {
  height: 100vh
}